h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
body { background-color:#999966; background: linear-gradient(to bottom, #999966, #DEE5D8); background-repeat: no-repeat; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_e4bf9ac { position:absolute; left:0%; top:12%; width:100%; min-height:644px; background:none;  }
#container_e4bf9ac_padding { margin: 10px; display: block;  }
#img_7a1f4a7c { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; padding-top: 10px; padding-bottom:10px;}
#text_276db422 { position:absolute; left:19%; top:79%; width:412px; height:45px; background:none;  }
.textstyle2 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#00FFFF;  }
#container_4146eb3e { position:absolute; left:0%; top:136%; width:100%; min-height:570px; background:none;  }
#container_4146eb3e_padding { margin: 10px; display: block;  }
#img_365f079f { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; padding-top: 10px; padding-bottom:10px;}
#text_5d6e8fc5 { position:absolute; left:10%; top:81%; width:412px; height:45px; background:none;  }
.textstyle3 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#80FFFF;  }
#container_6a5612c4 { position:absolute; left:0%; top:300%; width:100%; min-height:445px; background:none;  }
#container_6a5612c4_padding { margin: 10px; display: block;  }
#img_798910f0 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; padding-top: 10px; padding-bottom:10px;}
#text_4915d68c { position:absolute; left:61%; top:88%; width:237px; height:45px; background:none;  }
.textstyle4 { text-align:center; }
#heading_6fab104c { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:48pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:left;  }
