/*link formats*/
a { color:red; } 
a:visited { color:blue; } 
a:active { color:green; } 
a:hover { color:violet; } 
html, body { min-height: 100% } 
body { background-color:#5C755E; background: linear-gradient(to bottom, #5C755E, #9C9F84); background-repeat: repeat; padding:0;  margin: 0; }

/*header formats*/ 
h1 {
	font-family: LuxRoman, Verdana, sans-serif;
	color:  #FFFFFF;
	font-size: 30px;
}
h2 {
	font-family: Times, Verdana, sans-serif;
	color:  #FFFFFF;
	font-size: 24px;
}
h3 {
	font-family: Times, Verdana, sans-serif;
	color:  #FFFFFF;
	font-size: 20px;
	text-align: center;
	padding-top: 5px;
}
h4 {
	font-family: LuxRoman, Verdana, sans-serif;
	color:  #ffffff;
	font-size: 24px;
	text-align: center;
}

p {
	font-family: 'Luxurious Roman', Verdana Italic, sans-serif;
	font-size: 18px;
}

.flex-container {
	/*width: 350px;
	height: 120px;*/
    display: flex;
    flex-direction:column;
	margin-top: 10px;
	flex-wrap: wrap;
    gap: 20px 10px;
	justify-content: center;
	justify-content: space-evenly;
    align-items: center;
	/*background-color: #fffefa;*/
}

img {
     position:relative;
     height:270px;
     width: 100%;
  }
/*containers and the flexbox formats*/
#container {
	position: relative;
	background-color: #FFFDA6;
	height: 780px;
	width: 1300px;
    margin: 0px auto 0px auto;
}
header {
	height: 40px;
	background-color: #000000;
	color: red;
	text-align: center;
}

/*division on left side*/
#left-div {
    float:left;
    width:64%;
    height: 92%;
    padding: 1%;
    background-color: #transparent;

    
}

/*columns 1,2,4 on left side*/
#column-1 {
    float:left;
    position:relative;
    width:42%;
    height: 98%;
    padding: 0%;
    background-color: #a97d5d;
    border: 4px solid #00000D;
}

#column-2 {
    float:right;
    position:relative;
    width:44%;
    height: 37%;
    padding: 4%;
    background-color: #EAB47E;
    border: 4px solid #00000D;
}

#column-4 {
    float:right;
    position:relative;
    width:44%;
    height: 38%;
    top:18px;
    padding: 4%;
    background-color: #E6D5B4;
    border: 4px solid #00000D;
}


#right-div {
    float:left;
    width: 32%;
    height: 79%;
    padding: 1%;
    background-color: #transparent;
   
}

#column-3 {
    float:left;
    width:97%;
    height: 113%;
    padding: 1%;
    background-color: #a97d5d;
    border: 4px solid #00000D;

}

.button {
  background-color: #CFCBC4; 
  border-color: black;
  border-radius: 2px;
  color: black;
  padding: 0px 8px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-family:LuxRoman, Arial,sans-serif;
  margin: 2px 2px;
  transition-duration: 1s;
  cursor: pointer;
}
 /*Button hover state*/
button:hover
 {
        background-color: #D8AB44; 
    }
   
   /*allows rounded buttons*/
   
.button1 {
background-color: #CFCBC4; 
border-radius: 8px;
font-size:20px;
}
  



/*.flex-container div {
	width: 75px;
	height: 45px;
	line-height: 45px;
	text-align: center;
		
	color: white;
	background-color: #000000;
}
	/*.flex-container a {
		color: white;
		font-family: Times, Verdana, sans-serif;
	}
	.flex-container div:hover {
		background-color: #0d8976;
	}
	.active {
		background-color: chocolate;
		font-family: Times, Verdana, sans-serif;
	  }*/
      
#footer {
    clear:both;
    padding:5px 10px;
    background:#cc9;
}
