/*this is the css file for the screensizes up to 1000px*/



html, body { min-height: 100% } 
body { background-color:#E1BB54; background: linear-gradient(to bottom, #E1BB54, #C0C0C0); background-repeat: repeat; padding:0;  margin: 10px auto;  }

#root {
  box-sizing: border-box;
}

.main-header .container { /*header container settings*/
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
    background-color: #E3FDFC;
    border-radius: 10px;
    border: 5px solid black;
    padding: 5px;
}

img {
	width:110px;
    height:110px;
}

h1{
font-family: 'Roboto Slab', Times, Verdana, serif;
font-size:40px;
align:center;}


/*h3{
font-family: 'Roboto Slab', Times, Verdana, serif;
font-size:20px;}*/

p{padding-top:5px; padding-bottom:10px; font-size:15px; color:blue }

span{
font-size:20px;
font-family:'Merienda One', Verdana, serif;
color:#1100FF;}

.container {
  display: flex;
  flex-direction:row;
  width: 100%;
  padding:5px;
}

.column-1 {
  flex-shrink: 0; /* shrinks to 0 to apply 30% width*/
  flex-basis: 60%; /* sets initial width to 30%*/
}


.box {
  background-color: #FFCE6D; /*the flexbox color*/
  padding: 5px;
  border-radius: 7px;
  border: 2px solid black;
  margin: 5px;
  /*box-shadow: 1px 1px 1px #000;*/
 }
 
/*setup for pictures*/

.imgspc1{padding:20px;}
.imgspc2{padding:20px; display:none;}
.imgspc3{padding:20px;}
.imgspc4{padding:20px;}
.imgspc5{padding:20px;}
.imgspc6{padding:20px;}
.imgspc7{padding:20px;display:none;}
.imgspc8{padding:20px;}
.imgspc9{padding:20px;}


 .button {
  background-color: #FAFEC0;
  border: double;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius:100%;
}


.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}